@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

:root {
    --background: black;
    --foreground: white
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-heading: "Sora", sans-serif;
    --font-body: "Mulish", sans-serif;
}

body {
    @apply bg-background text-foreground font-body
}